html

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    background-image: url(../ressources/testimonal_background_dark.jpg);
    background-size: cover;
  }
  h1{
    justify-content: center;
    color:white;
    font-size: 60px;
  }
  
  .container-nav{
  
    justify-content: center;
    display: flex;
    width: 100vw;
    transition: .3s ease-in-out;
    z-index: 10;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
  
  }
  
  .container-nav:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .navbar-brand{
    color: red;
    transition: .5s ease-in-out;
    
  }
  
  .navbar-brand:hover{
    transform: scale(1.1);
    color: white;
    
  }
  
  
  .nav-link{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: .5s ease-in-out;
    
  }
  
  .nav-link:hover{
    transform: scale(1.1);
    color: white;
  }
  .section2{
    background-image: url(../ressources/R\ \(9\).jpg);
    /* height: 70vh; */
    padding: 50px;
    /* margin-top: 10px; */
  }
  .texte h2{
    text-align: center;
    /* margin: 20px 0; */
    margin-bottom: 10px;
  }
  .components{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* height: 20vh; */
  }
  /* .container{
    margin-top: 10px;
  } */
  
  @font-face {
    font-family: 'kaushan_script' ;
    src: url(./Kaushan_Script/KaushanScript-Regular.ttf);
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
  }
  h2{
    font-family: 'kaushan_script';
  }
  h1{
    font-family: 'kaushan_script';
    font-weight: 700;  
  }
  header{
    font-family: 'kaushan_script';
  }
  h4{
    font-family: 'kaushan_script';  
  }
  h3{
    font-family: 'kaushan_script';    
  }
  h5{
    font-family: 'kaushan_script'; 
    font-size: xx-large;
    text-align: center;
  }
  .container-fluid{
    color: whitesmoke;
    background-size: cover;
    padding: 0;
  }
  .row{
    color: whitesmoke;
    padding-top: 20px;
    justify-content: space-between;
    margin: 0;
  }
  .section4 h3 {
    margin: 20px 0;
    text-align: center;
    /* padding: 10px ; */
    /* text-decoration: underline; */
  }
  #Réservation h4{
    /* padding-top: 50px; */
    text-align: center;
  }
  #formulaire{
    margin: 50px 0;
    padding: 30px;
    background-size: cover;
  }
  .chef{
    border-radius: 50%;
  }
  .card {
    border-radius: .7rem;
  }
  .col-lg-3 h4{
    text-align:center;
    text-decoration: underline;
    font-weight: 500;
  }
  .col-lg-3 h3{
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, rgb(0, 0, 0), #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s  alternate-reverse infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  @keyframes animate {
    0% {
    background-position: -500%;
    }
    100% {
    background-position: 500%; 
    }
  }
  .nom p{
    text-align: center;
    font-weight: bold;
    text-decoration:underline;
    font-size:medium;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient( #000, #000, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s  forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% 
  {
  background-position: -500%;
  }
  100% {
  background-position: 0%; 
  }
  
  }
  .description p {
    position: relative;
    font-size: smaller;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #000, #000);
    background-repeat: no-repeat;
    background-size: 98%;
    animation: animate 3s  forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
    background-position: -500%;
  }
  100% {
    background-position: 0%; 
  }
  }
  #menu h4{
    text-align: center;
    font-size: 40px;
    padding: 5px;
    animation: pulse 6s alternate-reverse infinite;
  }
  .mb-2{
    color: black;
    font-family: 'kaushan_script';
  }
  .nomfam{
    color: black;
    font-family: 'kaushan_script';
  }
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
  @import url(http://fonts.googleapis.com/css?family=Montserrat:700);
  h2 {
  text-align: center;
  font-family: 'kaushan_script';
  color: black;
  padding-top: 5vh;
  }
  #gal .components2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  @media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  h1{
    font-size: 40px;
  }
  .section2{
    height: 55vh;
  }
  
  
  #gal .components2{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  }
  .about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666;
  }
  .about a {
  color: blue;
  text-decoration: none;
  }
  .about a:hover {
  text-decoration: underline;
  }
  .galerie{
    background-image: url(/assets/ressources/th.jpg);
    padding-bottom: 10vh;
  }
  #avis{
    background-color: #666;
    padding-bottom: 5vh;
  }
  html{
    margin: auto;
  }